h1,
h2,
h3,
h4 {
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  background-color: lightblue;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.nav-link {
  text-decoration: underline 2px royalblue dotted;
  font-size: 24px;
  color: royalblue;
}

.nav-link:not(:last-child) {
  margin-right: 15px;
}

.nav {
  padding: 15px 0px;
}

a:hover {
  color: darkblue;
  text-decoration: underline 2px darkblue;
}

.section {
  min-width: 700px;
  min-height: 700px;
  margin: 20px auto;
  padding: 20px 40px;
}

.header {
  font-size: 38px;
  color: gold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.header::first-letter {
  font-size: 58px;
  color: gold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

/* ============ Hoverable Dropdown =============== */

.dropbtn {
  margin-left: 10px;
  border-radius: 3px;
  background-color:  cornflowerblue;
  color: gold;
  font-weight: 500;
  padding: 16px;
  font-size: 20px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left: 10px;
  border-radius: 3px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 16px;

  padding: 4px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: cornflowerblue;
  font-weight: 500;
  color: gold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: royalblue;
}

.polovina:not(:last-child) {
  margin-right: 70px;
}
.polovina {
  width: 600px;
}
.papa-polo {
  display: flex;
}