h1,
h2,
h3,
h4 {
  margin: 0px;
}

a {
  text-decoration: none;
}



ul {
  list-style-type: none;
}

/* .list {
  list-style-type: space-counter;
} */

.container {
  background-color: darkseagreen;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.nav-link {
  text-decoration: underline 2px royalblue dotted;
  font-size: 24px;
  color: royalblue;
}

.nav-link:not(:last-child) {
  margin-right: 15px;
}

.nav {
  padding: 15px 0px;
}

a:hover {
  color: darkblue;
  text-decoration: underline 2px darkblue;
}

.header {
  margin-bottom: 20px;
}

/* ! ====================== card-hover-effect ================= */

.site-nav .link {
  /* margin-bottom: 40px; */
  display: block;

  text-transform: uppercase;
  /* list-style-type: none; */
  text-align: right;
}

.site-nav
 {
  margin-bottom: 40px;
  
}


/* ======================= */

.text-shadow {
margin-top: 30px;
font-size: 50px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.text-shadow-two {
  font-style: italic;
  margin-top: 30px;
  font-size: 50px;
    color: #ffffff;
    text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
  }

  .hello {
    display: inline-block;
    color:lightblue;
    font-size: 70px;
    font-weight: 700;
    transition: color 0.3s;
    min-width: 30px;
  }
  .hello:hover span:nth-child(1) {
    color: red;
    transition-duration: 0.2s;
    /* text-shadow: 2px 2px 4px white; */
  }
  .hello:hover span:nth-child(2) {
    color:rgb(0, 134, 0);
    transition-duration: 0.5s;
    /* text-shadow: 2px 2px 4px #fe02e1; */
  }
  .hello:hover span:nth-child(3) {
    color:blue;
    transition-duration: 0.8s;
    /* text-shadow: 2px 2px 4px yellow; */
  }
  .hello:hover span:nth-child(4) {
    color:yellow;
    transition-duration: 1.1s;
    /* text-shadow: 2px 2px 4px blue; */
  }
  .hello:hover span:nth-child(5) {
    color:darkviolet;
    transition-duration: 1.4s;
    /* text-shadow: 2px 2px 4px orange; */
  }
  
  
  .papa {
    display: flex;
    outline: 1px solid blue;
    align-items: center;
    width: 340px;
    height: 70px;
  }
  
  .son-first,
  .son-second,
  .son-third,
  .son-fourth,
  .son-fifth  {
    width: 30px;
    height: 30px;
    background: blue;
    margin-left: 30px;
  }

  .son-first:hover {
    cursor: pointer;
    transform: translate(5px, 0px)
  }
  .son-second:hover {
    cursor: pointer;
    transform: rotate(45deg)
  }
  .son-third:hover {
    cursor: pointer;
    transform: skew(-5deg, -10deg);
  }
  .son-fourth:hover {
    cursor: pointer;
    transform: scale(0.7);
  }
  .son-fifth:hover {
    cursor: pointer;
    transform: matrix(0, 1, 1, 0, 0, 0);
    
  }


 