h1,
h2,
h3,
h4 {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* .list {
  list-style-type: space-counter;
} */

.container {
  background-color: pink;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.header {
  margin-bottom: 20px;
  margin-top: 10px;
  color: rgb(176, 255, 229);
}

.nav-link {
  text-decoration: underline 2px rgb(176, 255, 229) dotted;
  font-size: 24px;
  color: rgb(176, 255, 229);
}

.nav-link:hover {
  color: red;
  text-decoration: underline 2px red dotted;
}

.nav-link:not(:last-child) {
  margin-right: 15px;
}

.nav {
  padding: 15px 0px;
}

.section {
  min-width: 700px;
  min-height: 700px;
  margin: 20px auto;
  padding: 20px 40px;
}
#form {
  margin-top: 40px;
  margin-bottom: 20px;
}

input {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 32px;
  outline: 1px solid red;
  border: none;
}

input::placeholder {
  color: rgb(176, 255, 229);
}

input[type="text"] {
  color: red;
}

input[type="submit"] {
  position: relative;
  display: inline-block;
  font-size: 28px;
  min-width: 120px;
  height: 58px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  color: rgb(176, 255, 229);
  background: linear-gradient(to left, pink 50%, white 50%);
  outline: 1px solid red;
  background-size: 200% 99%;
  transition: background-position 0.5s, color 0.6s;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-position: -100% 0;
  color: red;
}

input[type="submit"]:active {
  color: white;
}

#newsWrapper {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.article-card {
  width: 90%;
  text-align: left;
  border-radius: 5px;
  border: 1px solid red;
  color: red;
  background-color: rgb(176, 255, 229);
  padding: 20px;
}

.article-img {
  width: 100%;
  border-radius: 15px;
}

.article-link {
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(45, 45, 233, 0.731);
  color: white;
  padding: 10px 20px;
}
