h1,
h2,
h3,
h4 {
  margin: 0px;
}

a {
  text-decoration: none;
}



ul {
  list-style-type: none;
}

/* .list {
  list-style-type: space-counter;
} */

.container {
    background-color: darkseagreen;
    margin: 0 auto;
  
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
  }

  .header {
    margin-bottom: 20px;
  }
  
  .nav-link {
    text-decoration: underline 2px royalblue dotted;
    font-size: 24px;
    color: royalblue;
  }
  
  .nav-link:not(:last-child) {
    margin-right: 15px;
  }
  
  .nav {
    padding: 15px 0px;

  }

  .section {
    min-width: 700px;
    min-height: 700px;
    margin: 20px auto;
    padding: 20px 40px;
  }

  .accordion {
    display: block;
    background-color:rgb(209, 219, 228);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 400px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color:aliceblue;
  }
  
  /* Style the accordion panel. Note: hidden by default */

  /* !----------------without animation----------- */
  /* .panel {
    padding: 0 18px;
    background-color:rgb(179, 201, 224);
    display: none;
    overflow: hidden;
  } */
  /* !----------------without animation----------- */

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  /* *----------------with animation----------- */
  .panel {
    padding: 0 18px;
    background-color: rgb(179, 201, 224);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  /* ------------------   modal   -------------- */

  body.show-modal .backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  
  body.show-modal .modal {
    transform: scale(1);
  }
  
  .backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
  }
  
  .modal {
    overflow:auto;
    padding: 24px;
    border-radius: 4px;
    /* max-width: 740px; */
    /* width: 100%; */
    height: 620px;
    color: darkgreen;
    outline: 2px solid green;
    background-color: rgb(143, 255, 197);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
  }
  
  .modal-header {
    color: darkgreen;
  }
  
  .button-open,
  .button-close {
    /* margin-left: 100px; */
    color: darkgreen;
    background-color: mintcream;
    min-width: 75px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    outline: 2px solid green;
  }

  .button-open {
    margin-left: 1060px;
  }

  
  .button-open:hover,
  .button-close:hover {
    color: mintcream;
    background-color: green;
    outline: 2px solid rgb(0, 209, 14);
  }
  
  .button-open:active,
  .button-close:active {
    outline: 2px solid rgb(143, 255, 197);
    color: rgb(143, 255, 197);
  }
  
  .language-html,
  .language-js {
    border-radius: 5px;
  }