<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Three cats</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/accordion.css" />
  </head>
  <body>
    <header class="header container">
      <nav class="nav">
        <a href="../../index.html" class="nav-link">Home</a>
        <!-- <a href="../../english-study.html" class="nav-link">English-study</a> -->
        <a href="../../meets.html" class="nav-link">Meets</a>
        <a href="../../sandbox.html" class="nav-link">Sandbox</a>
        <a href="../praxis.html" class="nav-link">Praxis</a>
      </nav>
    </header>

    <main>
      <section class="section container">
        <p>
          </p>
        <button class="accordion">Red</button>
        <div class="panel">
          <p>Any of a range of colours having the longest wavelengths, 670 nm, of the visible spectrum; a primary additive colour for transmitted light: the colour obtained by subtracting green and blue from white light using magenta and yellow filters; the colour of blood, ripe strawberries, etc.</p>
        </div>
        
        <button class="accordion">Green</button>
        <div class="panel">
          <p>Green is the color between cyan and yellow on the visible spectrum. It is evoked by light which has a dominant wavelength of roughly 495–570 nm. </p>
        </div>
        
        <button class="accordion">Blue</button>
        <div class="panel">
          <p>The colour of the clear sky or the deep sea, between green and violet in the visible spectrum, and one of the primary additive colours for transmitted light; the colour obtained by subtracting red and green from white light using magenta and cyan filters; or any colour resembling this.</p>
        </div> 
      </section>
    </main>
    <script src="../scripts/accordion.js" type="module"></script>
  </body>
</html>