<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Three cats</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/box-model.css" />
  </head>
  <body>
    <header class="header container">
      <nav class="nav">
        <a href="../../index.html" class="nav-link">Home</a>
        <a href="../../english-study.html" class="nav-link">English-study</a>
        <a href="../../meets.html" class="nav-link">Meets</a>
        <a href="../../sandbox.html" class="nav-link">Sandbox</a>
        <a href="../praxis.html" class="nav-link">Praxis</a>
      </nav>
    </header>

    <main>
      <section class="section container">
        <ul class="site-nav list">
          <li><a href="" class="link">Blog</a></li>
          <li><a href="" class="link">Workshops</a></li>
          <li><a href="" class="link">Podcasts</a></li>
          <li><a href="" class="link">About</a></li>
        </ul>

        <div class="box-sizing-one">Box sizing</div>
        <div class="box-sizing-two">Box sizing</div>
        <div class="box-sizing-three">Box sizing</div>
        <div class="box-sizing-four">Box sizing</div>
        <div class="box-sizing-five">Box sizing</div>

        <button class="button-sizing-one" type="button">Box sizing</button>

          <button class="button-sizing-two" type="button">Box sizing</button>

          <button class="button-sizing-three" type="button">Box sizing</button>

          <button class="button-sizing-four" type="button">Box sizing</button>

          <button class="button-sizing-five" type="button">Box sizing</button>



      </section>
    </main>
    <!-- <script src="../scripts/three-cats.js" type="module"></script> -->
  </body>
</html>
